<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_vehicle_root" name="Vehicle Management"/>


    <menuitem id="menu_vehicle_conf" name="configuration" parent="menu_vehicle_root" sequence="3"/>
    <menuitem id="menu_vehicle" name="vehicle" parent="menu_vehicle_root" action="action_spare_part_vehicle" sequence="2"/>


    <menuitem id="menu_vehicle_type" name="Types" parent="menu_vehicle_conf" action="action_vehicle_type"/>
    <menuitem id="menu_vehicle_make" name="Makes" parent="menu_vehicle_conf" action="action_vehicle_make"/>
    <menuitem id="menu_vehicle_year" name="years" parent="menu_vehicle_conf" action="action_vehicle_year"/>
    <menuitem id="menu_vehicle_model" name="Models" parent="menu_vehicle_conf" action="action_vehicle_model"/>

    <menuitem id="menu_spare" name="Spare Parts" parent="menu_vehicle_root"
              action="action_spare_parts" sequence="1"/>


</odoo>